<div class='jumbotron'>
<h1>Gamestats</h1>
<p>Eine kleine App zum festhalten von Kartenspielergebnissen mit schönen Grafiken zum Auswerten ... </p>
<%= link_to 'Login', new_user_session_path, class:'btn btn-outline-primary' %>
<%= link_to 'Registrieren', root_path, class:'btn btn-outline-secondary' %>

</div>
