// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.avatar:hover {
  opacity: 0.7;
}

.nav_avatar {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}


.right {
  float: right;
}

.left {
  float: left;
}
