// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.won {
  border-left: 10px solid rgba(63,191,63,0.54);
}

.won:hover {
  background-color: rgba(63,191,63,0.24);
}

.lost {
  border-left: 10px solid rgba(191,63,63,0.54);
}

.lost:hover {
  background-color: rgba(191,63,63,0.24);
}

.card {
  max-width: 400px;
  margin: auto;
  margin-bottom: 1em;
}

.timestamp {
  color: grey;
  float: right;
  font-size: 0.8em;
  font-weight: 200;
}

.date {
  color: #f25c41;
  font-size: 1.2em;
  font-weight: 400;
  border-bottom: 1px solid #f25c41;
  margin-left: 70%;
  margin-bottom: 1em;
  text-align: right;
}
.result {
  font-size: 1.8em;
  text-align: center;
}

.card-body {
  text-align: center;
}
