// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.won {
  border-left: 10px solid rgba(63,191,63,0.54);
}

.won:hover {
  background-color: rgba(63,191,63,0.24);
}

.lost {
  border-left: 10px solid rgba(191,63,63,0.54);
}

.lost:hover {
  background-color: rgba(191,63,63,0.24);
}

.card {
  max-width: 400px;
  margin: auto;
  margin-bottom: 1em;
  box-shadow: 0px 3px 3px #999;

}

.timestamp {
  color: grey;
  float: right;
  font-size: 0.8em;
  font-weight: 200;
  margin-bottom: -3em;
  margin-right: -1em;

}

.date {
  color: #f25c41;
  font-size: 1.2em;
  font-weight: 400;
  border-bottom: 1px solid #f25c41;
  margin-left: 70%;
  margin-bottom: 1em;
  text-align: right;
}
.result {
  font-size: 1.8em;
  text-align: center;
}

.card-body {
  text-align: center;
}

.rivals {
  font-size: 1em;
  a {
    color: #f25c41;
    text-decoration: none;
  }
}
.ranking_sub {
  font-size: 0.5em;
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: #f25c41;
}

.ranking_number {
  font-size: 1.5em;
  font-weight: 600;
  border-left: 8px solid #f25c41;
  padding-left: 5px;
  a { font-weight: 200; color: inherit; font-size: 0.8em; text-decoration: none}
}

.ranking_main {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: 200;
}
.ranking_row {
  border-bottom: 1px solid #eee;
  margin-bottom:1em;
}
.ranking_row:hover  {
font-size: 1.5em;
transition: all 0.1s ease-out;

}

.edit_match {
  float: left;
  a {color:grey; font-weight: 200; font-size: 0.8em;};

}

.match_score {
  font-size: 3em;
  width: 170px;
  height: 150px;
  color: #f25c41;
  font-weight: 200;
  text-align: center;

}

.match_score_head {
  font-size: 1.2em;
  font-weight: 200;
  color: #f25c41;
  text-align: center;
  background-color: #eee;
  width: 170px;
  height: 35px;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.match_score_card {
  box-shadow: 0px 3px 3px #999;
  border-radius: 5px;
}
.flex_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
